RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^usuarios(.*)$ index.php?pagina=usuarios [L]
RewriteRule ^grupo_acessos(.*)$ index.php?pagina=grupo_acessos [L]
RewriteRule ^acessos(.*)$ index.php?pagina=acessos [L]
RewriteRule ^cargos(.*)$ index.php?pagina=cargos [L]
RewriteRule ^funcionarios(.*)$ index.php?pagina=funcionarios [L]
RewriteRule ^pacientes(.*)$ index.php?pagina=pacientes [L]
RewriteRule ^convenios(.*)$ index.php?pagina=convenios [L]
RewriteRule ^procedimentos(.*)$ index.php?pagina=procedimentos [L]
RewriteRule ^horarios(.*)$ index.php?pagina=horarios [L]
RewriteRule ^formas_pgto(.*)$ index.php?pagina=formas_pgto [L]